// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.navbar {
  .navbar-nav {
    .nav-item {
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        display: inline-block;
        color: $text-color;
        &:hover,
        &:focus,
        &.active {
          color: $brand-color;
          font-weight: 700;
        }
      }
    }
  }
}
